trigger:
  branches:
    include:
      - '*'
  tags:
    include:
      - '*'
pr:
  branches:
    exclude:
      - '*'
resources:
- repo: self
variables:
  tag: '$(Build.BuildId)'
  vmImage: 'ubuntu-latest'
stages:
- stage: Build
  displayName: Build and push stage
  jobs:
  - job: Build
    timeoutInMinutes: 120
    displayName: Build
    pool:
      vmImage: ubuntu-latest
      name: Azure Pipelines
    steps:
    - pwsh: .\build.ps1
      name: build_images
      displayName: 'Build images'
      env:
        REGISTRY_USER: $(REGISTRY_USER)
        REGISTRY_PWD: $(REGISTRY_PWD)
        REGISTRY_PATH: $(REGISTRY_PATH)
        IMAGE_VERSION: $(Build.SourceBranchName)
        BUILD_TEMP: $(Agent.TempDirectory)
    - pwsh: .\build.ps1 -Push
      name: push_containers
      displayName: 'Push images'
      # Only push if this is a tag, and the tests passed
      condition: or(and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/')), contains(variables['Build.SourceVersionMessage'], '[push]'))
      env:
        REGISTRY_USER: $(REGISTRY_USER)
        REGISTRY_PWD: $(REGISTRY_PWD)
        REGISTRY_PATH: $(REGISTRY_PATH)
        IMAGE_VERSION: $(Build.SourceBranchName)
        BUILD_TEMP: $(Agent.TempDirectory)
